openai==1.30.5
requests==2.32.3
langchain
langchain-community
langchain-core
langchain-text-splitters
pydantic==1.10.13
langchainhub
langchain-openai
langserve[all]
fastapi
git+https://github.com/RENCI-NER/benchmarks.git
